---
import { Code } from "@astrojs/starlight/components"
import fs from "node:fs/promises"
import { CodePreviewInternal } from "./_code-preview-internal"

interface Props {
  demo: string;
}

const { demo } = Astro.props
const [componentName, demoName] = demo.split("/")

// Read file content
let fileContents = "";
try {
    const rawContent = await fs.readFile(`./src/registry/new-york/items/${componentName}/${demoName}.tsx`, "utf-8")
    // Cleanup imports for display
    fileContents = rawContent.replace(
        new RegExp(`@/registry/new-york/items/${componentName}/components/${componentName}`, "g"),
        `@/components/ui/${componentName}`
    )
} catch (e) {
    fileContents = `// Error reading file`;
    console.error(e);
}
---

<div class="my-6">
  <CodePreviewInternal demo={demo} client:load>
    <Code
      code={fileContents}
      lang="tsx"
      wrap
    />
  </CodePreviewInternal>
</div>
